.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/background-pic.jpg");
    background-size: 100%;
    background-position: center;
    height: 30rem;
}

.header-container > header {
    background-color: yellow;
    width: 100vw;
    text-align: center;
}

.header-container > img {
    display: flex;
    align-items: center;
    margin: auto;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border: 0.5rem solid darkblue;
    transform: rotate(90deg)
}