.projects-container {
    display: flex;
    flex-direction: column;
}

.projects-container > h2 {
    font-size: 1.75rem;
    margin-left: 1.25rem;
}

.projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}