.project-item-container {
    border: 0.20rem solid #000;
    width: 85vw;
    margin: 1.25rem;
}

.project-item-container > h4 {
    font-size: 1.35rem;
    margin-left: 1.25rem;
    color: #0000FF;
}

.project-item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
    font-size: 1.12rem;
}

.project-item-info > img {
    width: 35rem;
    height: 25rem;
}

.project-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 20rem;
    width: 25rem;
}