.project-item-container {
    border: 0.20rem solid #000;
    width: 85vw;
    height: 33.5rem;
    margin: 1.25rem;
    padding: 1.25rem;
}

.project-item-container > h4 {
    font-size: 1.55rem;
    margin-left: 1.25rem;
    margin-bottom: 0;
    color: #0000FF;
}

.project-item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 2rem;
    font-size: 1.12rem;
    height: 20rem;
    width: 60rem;
}

.project-item-info > img {
    width: 32rem;
    height: 25rem;
}

.project-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 20rem;
    width: 25rem;
}

@media only screen and (max-width: 768px) {
    .project-item-container {
        margin: 1rem;
        padding: 1.15rem;
    }

    .project-item-container > h4 {
        font-size: 1.7rem;
    }

    .project-item-info {
        margin: 4rem 2rem;
        font-size: 1.02rem;
        height: 20rem;
        width: 38rem;
    }

    .project-item-info > img {
        width: 18rem;
        height: 20rem;
    }

    .project-item-text {
        height: 20rem;
        width: 18rem;
    }
}

@media only screen and (max-width: 414px) {
    .project-item-container {
        height: 50rem;
        padding: 0.5rem;
    }

    .project-item-container > h4 {
        font-size: 1.3rem;
    }

    .project-item-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        font-size: 1.12rem;
        margin: 2rem;
        height: 30rem;
        width: 18.5rem;
    }

    .project-item-info > img {
        height: 17rem;
        width: 16rem;
    }

    .project-item-text {
        font-size: 0.9rem;
        height: 30rem;
    }
}

@media only screen and (max-width: 375px) {
    .project-item-container {
        height: 50rem;
        padding: 0.3rem;
    }

    .project-item-container > h4 {
        font-size: 1.2rem;
    }

    .project-item-info {
        font-size: 1.12rem;
        margin: 2rem;
        height: 30rem;
        width: 16.3rem;
    }

    .project-item-info > img {
        height: 16rem;
        width: 15rem;
    }
}